{% extends "base.html" %}
{% block title %}Connect Us - Sunshine School{% endblock %}
{% block content %}

<div class="container" data-aos="fade-up">
  <h2 class="text-center mb-4">Connect With Us</h2>

  <div class="row g-4">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th>Phone</th>
            <td><a href="tel:+911234567890">+91 12345 67890</a></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><a href="mailto:sunshineschool@email.com">sunshineschool@email.com</a></td>
          </tr>
          <tr>
            <th>Google Map</th>
            <td><a href="https://maps.app.goo.gl/uL9Ax6btN41sRoaB6" target="_blank">View on Map</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th>Instagram</th>
            <td><a href="https://instagram.com/sunshineschool" target="_blank">@sunshineschool</a></td>
          </tr>
          <tr>
            <th>YouTube</th>
            <td><a href="https://youtube.com/sunshineschool" target="_blank">YouTube Channel</a></td>
          </tr>
          <tr>
            <th>Address</th>
            <td>123 School Street, Kolhapur, Maharashtra</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
